.App {
  font-family: sans-serif;
}

.image-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 20px;
}

.image-blok {
  margin-left: 105px;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
}


.image-mini {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 3px;
}

h1 {
  text-align: left;
}

h4{
  margin-left: 60px;
  text-align: left;
}

button {
  float: left;
  margin-left: 60px;
  background-color: green;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
